---
layout: page
---

<h1>{{ site.project_title }}</h1>
<p>{{ site.project_description }}</p>

{% if site.data_show == true %}

  <h2><a href="data/">{{ site.data_title }}</a></h2>
  <p>{{ site.data_description }}</p>
  <table width="90%" style="padding-left: 25px; margin-bottom: 20px;">
    {% for data in site.data %}
    <tr>
      <td>
        {{ data.title }}
      </td>
      <td width="50" align="center">
        <a href="{{ data.csv_url }}">
          <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-csv.png" width="45" />
        </a>
      </td>
      <td width="50" align="center">
        <a href="{{ data.json_url }}">
          <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-json.png" width="45" />
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <p>{{ site.data_footer }}</p>

{% endif %}

{% if site.api_show == true %}

  <h2><a href="api/">{{ site.api_title }}</a></h2>
  <p>{{ site.api_description }}</p>
  <table width="90%" style="padding-left: 25px; margin-bottom: 20px;">
    {% for api in site.api %}
    <tr>
      <td>
        {{ api.title }}
      </td>
      <td width="50" align="center">
        <a href="{{ api.swagger_url }}" title="Swagger API Definition">
          <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-swagger-round.png" width="45" />
        </a>
      </td>
      <td width="50" align="center">
        <a href="/docs.html?swagger_url={{ api.swagger_url }}" title="Interactive Documentation">
          <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-documentation-interactive.png" width="45" />
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <p>{{ site.api_footer }}</p>

{% endif %}

{% if site.showcase_show == true %}

  <h2><a href="showcase/">{{ site.showcase_title }}</a></h2>
  <p>{{ site.showcase_description }}</p>
  <table width="90%" style="padding-left: 25px; margin-bottom: 20px;">
    {% for showcase in site.showcase %}
    <tr>
      <td align="center">
        <img src="{{ showcase.image }}" width="100" align="center" />
      </td>
      <td>
        <a href="{{ showcase.url }}"><strong>{{ showcase.title }}</strong></a> - {{ showcase.description }}...<a href="{{ showcase.url }}">view</a>.
      </td>
    </tr>
    {% endfor %}
  </table>
  <p>{{ site.showcase_footer }}</p>

{% endif %}

{% if site.team_show == true %}

  <h2><a href="team/">{{ site.team_title }}</a></h2>
  <p>{{ site.team_description }}</p>
  <table width="90%" style="padding-left: 25px; margin-bottom: 20px;">
    {% for team in site.team %}
    <tr>
      <td align="center">
        <img src="{{ team.image }}" width="100" align="center" />
      </td>
      <td valign="top">
        <strong>{{ team.name }}</strong><br />{{ team.description }}
      </td>
    </tr>
    {% endfor %}
  </table>
  <p>{{ site.team_footer }}</p>

{% endif %}

{% if site.tools_show == true %}

  <h2><a href="tools/">{{ site.tools_title }}</a></h2>
  <p>{{ site.tools_description }}</p>
  <table width="90%" style="padding-left: 25px; margin-bottom: 20px;">
    {% for tool in site.tools %}
    <tr>
      <td>
        <a href="{{ tool.url }}"><strong>{{ tool.title }}</strong></a> - {{ tool.description }}...<a href="{{ showcase.url }}">view</a>.
      </td>
    </tr>
    {% endfor %}
  </table>
  <p>{{ site.tools_footer }}</p>

{% endif %}

{% if site.faq_show == true %}

  <h2><a href="faq/">{{ site.faq_title }}</a></h2>
  <p>{{ site.faq_description }}</p>
  <table width="90%" style="padding-left: 25px; margin-bottom: 20px;">
    {% for faq in site.faq %}
    <tr>
      <td>
        <strong>{{ faq.question }}</strong> - {{ faq.answer }}
      </td>
    </tr>
    {% endfor %}
  </table>
  <p>{{ site.faq_footer }}</p>

{% endif %}

<h2>{{ site.support_title }}</h2>
<p>{{ site.support_description }}</p>
<ul>
  <li><a href="blog/">Blog</a></li>
  <li><a href="roadmap/">Roadmap</a></li>
  <li><a href="change-log/">Change Log</a></li>
  <li><a href="https://github.com/{{ site.github_user }}/{{ site.github_repo }}/issues">Issues</a> (<a href="https://github.com/{{ site.github_user }}/{{ site.github_repo }}/issues/new">submit</a>)</li>
  <li><a href="https://twitter.com/{{ site.support_twitter }}">Twitter</a></li>
</ul>
