---
layout: page
---

<h1>{{ site.project_title }}</h1>
<p>{{ site.project_description }}</p>
<h2>{{ site.data_title }}</h2>
<p>{{ site.data_description }}</p>
<div style="width: 100%; height: 200px; overflow: auto;">
  <table width="100%">
    {% for data in site.data %}
    <tr>
      <td>
        {{ data.title }}
      </td>
      <td width="50" align="center">
        <a href="{{ data.csv_url }}">CSV</a>
      </td>
      <td width="50" align="center">
        <a href="{{ data.json_url }}">JSON</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<p>{{ site.data_footer }}</p>
<h2>{{ site.api_title }}</h2>
<p>{{ site.api_description }}</p>
<div style="width: 100%; height: 200px; overflow: auto;">
  <table width="100%">
    {% for api in site.api %}
    <tr>
      <td>
        {{ api.title }}
      </td>
      <td width="50" align="center">
        <a href="{{ api.swagger_url }}">Swagger</a>
      </td>
      <td width="50" align="center">
        <a href="/docs/?swagger_url={{ data.swagger_url }}">Documentation</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<p>{{ site.api_footer }}</p>

Showcase
<hr />
Support
