{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.1.0",
    "title": "Federal Budget One",
    "contact": {
      "name": "Kin Lane",
      "email": "kinlane@gmail.com"
    }
  },
  "host": "federalbudgetone.apispark.net",
  "basePath": "/v1",
  "tags": [
    {
      "name": "Federal Budget"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/1_1/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_1_1",
        "description": "Loads a list of table_1_1",
        "operationId": "gettable_1_1List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Year",
            "in": "query",
            "description": "Search by year",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_1_1"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/1_2/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_1_2",
        "description": "Loads a list of table_1_2",
        "operationId": "gettable_1_2List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Year",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Year",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_1_2"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/1_4/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_1_4",
        "description": "Loads a list of table_1_4",
        "operationId": "gettable_1_4List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Fiscal_Year",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Fiscal_Year",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_1_4"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/2_1/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_2_1",
        "description": "Loads a list of table_2_1",
        "operationId": "gettable_2_1List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Fiscal_Year",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Fiscal_Year",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_2_1"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/2_2/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_2_2",
        "description": "Loads a list of table_2_2",
        "operationId": "gettable_2_2List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Fiscal_Year",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Fiscal_Year",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_2_2"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/2_3/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_2_3",
        "description": "Loads a list of table_2_3",
        "operationId": "gettable_2_3List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Fiscal_Year",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Fiscal_Year",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_2_3"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/2_4/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_2_4",
        "description": "Loads a list of table_2_4",
        "operationId": "gettable_2_4List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "Area",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Area",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TYPE",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TYPE",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_2_4"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/2_5/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_2_5",
        "description": "Loads a list of table_2_5",
        "operationId": "gettable_2_5List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Estate_and_Gift_Taxes",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Estate_and_Gift_Taxes",
            "required": false,
            "type": "string"
          },
          {
            "name": "Federal_Reserve_Deposits_1_Miscellaneous_Receipts",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Federal_Reserve_Deposits_1_Miscellaneous_Receipts",
            "required": false,
            "type": "string"
          },
          {
            "name": "Total_Miscellaneous_Receipts",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Total_Miscellaneous_Receipts",
            "required": false,
            "type": "string"
          },
          {
            "name": "All_Other__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field All_Other__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts",
            "required": false,
            "type": "string"
          },
          {
            "name": "Customs_Duties_and_Fees__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Customs_Duties_and_Fees__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Fiscal_Year",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Fiscal_Year",
            "required": false,
            "type": "string"
          },
          {
            "name": "Customs_Duties_and_Fees",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Customs_Duties_and_Fees",
            "required": false,
            "type": "string"
          },
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "Legislative_Proposals_2",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Legislative_Proposals_2",
            "required": false,
            "type": "string"
          },
          {
            "name": "All_Other_Miscellaneous_Receipts",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field All_Other_Miscellaneous_Receipts",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_2_5"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/3_1/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_3_1",
        "description": "Loads a list of table_3_1",
        "operationId": "gettable_3_1List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "Superfunction",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Superfunction",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "Function",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Function",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_3_1"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/3_2/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_3_2",
        "description": "Loads a list of table_3_2",
        "operationId": "gettable_3_2List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Function",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Function",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "Subfunction",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Subfunction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_3_2"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/4_1/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_4_1",
        "description": "Loads a list of table_4_1",
        "operationId": "gettable_4_1List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "Department_or_other_unit",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Department_or_other_unit",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_4_1"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/4_2/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_4_2",
        "description": "Loads a list of table_4_2",
        "operationId": "gettable_4_2List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Department_or_other_unit",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Department_or_other_unit",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_4_2"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/5_1/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_5_1",
        "description": "Loads a list of table_5_1",
        "operationId": "gettable_5_1List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "Function",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Function",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Subfunction",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Subfunction",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          },
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_5_1"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/5_2/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_5_2",
        "description": "Loads a list of table_5_2",
        "operationId": "gettable_5_2List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          },
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "Department_or_other_unit",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Department_or_other_unit",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_5_2"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/5_3/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_5_3",
        "description": "Loads a list of table_5_3",
        "operationId": "gettable_5_3List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          },
          {
            "name": "Department_or_other_unit",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Department_or_other_unit",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_5_3"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/5_4/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_5_4",
        "description": "Loads a list of table_5_4",
        "operationId": "gettable_5_4List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "Department_or_other_unit",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Department_or_other_unit",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_5_4"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/5_5/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_5_5",
        "description": "Loads a list of table_5_5",
        "operationId": "gettable_5_5List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Department_or_other_unit",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Department_or_other_unit",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_5_5"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/5_6/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_5_6",
        "description": "Loads a list of table_5_6",
        "operationId": "gettable_5_6List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          },
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Category_and_Program",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Category_and_Program",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_5_6"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    },
    "/6_1/": {
      "get": {
        "tags": [
          "Federal Budget One"
        ],
        "summary": "Loads a list of table_6_1",
        "description": "Loads a list of table_6_1",
        "operationId": "gettable_6_1List",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Category",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field Category",
            "required": false,
            "type": "string"
          },
          {
            "name": "TQ",
            "in": "query",
            "description": "Allows to filter the collections of result by the value of field TQ",
            "required": false,
            "type": "string"
          },
          {
            "name": "$sort",
            "in": "query",
            "description": "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "$size",
            "in": "query",
            "description": "Size of the page to retrieve. Integer value",
            "required": false,
            "type": "string"
          },
          {
            "name": "$page",
            "in": "query",
            "description": "Number of the page to retrieve. Integer value.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/table_6_1"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "HTTP_BASIC": {
      "type": "basic"
    }
  },
  "definitions": {
    "table_1_1": {
      "required": [
        "Year"
      ],
      "properties": {
        "Year": {
          "type": "string",
          "example": "sample Year"
        },
        "Receipts_Total": {
          "type": "string",
          "example": "sample Receipts_Total"
        },
        "Outlays_Total": {
          "type": "string",
          "example": "sample Outlays_Total"
        },
        "Surplus_or_Deficit_Total": {
          "type": "string",
          "example": "sample Surplus_or_Deficit_Total"
        },
        "Receipts_On_Budget": {
          "type": "string",
          "example": "sample Receipts_On_Budget"
        },
        "Outlays_On_Budget": {
          "type": "string",
          "example": "sample Outlays_On_Budget"
        },
        "Surplus_or_Deficit_On_Budget": {
          "type": "string",
          "example": "sample Surplus_or_Deficit_On_Budget"
        },
        "Receipts_Off_Budget": {
          "type": "string",
          "example": "sample Receipts_Off_Budget"
        },
        "Outlays_Off_Budget": {
          "type": "string",
          "example": "sample Outlays_Off_Budget"
        },
        "Surplus_or_Deficit_Off_Budget": {
          "type": "string",
          "example": "sample Surplus_or_Deficit_Off_Budget"
        }
      },
      "example": "{\"Year\":\"sample Year\",\"Receipts_Total\":\"sample Receipts_Total\",\"Outlays_Total\":\"sample Outlays_Total\",\"Surplus_or_Deficit_Total\":\"sample Surplus_or_Deficit_Total\",\"Receipts_On_Budget\":\"sample Receipts_On_Budget\",\"Outlays_On_Budget\":\"sample Outlays_On_Budget\",\"Surplus_or_Deficit_On_Budget\":\"sample Surplus_or_Deficit_On_Budget\",\"Receipts_Off_Budget\":\"sample Receipts_Off_Budget\",\"Outlays_Off_Budget\":\"sample Outlays_Off_Budget\",\"Surplus_or_Deficit_Off_Budget\":\"sample Surplus_or_Deficit_Off_Budget\"}"
    },
    "table_6_1": {
      "required": [
        "Category"
      ],
      "properties": {
        "Category": {
          "type": "string",
          "example": "sample Category"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Category\":\"sample Category\",\"TQ\":\"sample TQ\"}"
    },
    "table_1_2": {
      "required": [
        "Year"
      ],
      "properties": {
        "Year": {
          "type": "string",
          "example": "sample Year"
        },
        "GDP": {
          "type": "string",
          "example": "sample GDP"
        },
        "Receipts_Total": {
          "type": "string",
          "example": "sample Receipts_Total"
        },
        "Outlays_Total": {
          "type": "string",
          "example": "sample Outlays_Total"
        },
        "Surplus_or_Deficit_Total": {
          "type": "string",
          "example": "sample Surplus_or_Deficit_Total"
        },
        "Receipts_On_Budget": {
          "type": "string",
          "example": "sample Receipts_On_Budget"
        },
        "Outlays_On_Budget": {
          "type": "string",
          "example": "sample Outlays_On_Budget"
        },
        "Surplus_or_Deficit_On_Budget": {
          "type": "string",
          "example": "sample Surplus_or_Deficit_On_Budget"
        },
        "Receipts_Off_Budget": {
          "type": "string",
          "example": "sample Receipts_Off_Budget"
        },
        "Outlays_Off_Budget": {
          "type": "string",
          "example": "sample Outlays_Off_Budget"
        },
        "Surplus_or_Deficit_Off_Budget": {
          "type": "string",
          "example": "sample Surplus_or_Deficit_Off_Budget"
        }
      },
      "example": "{\"Year\":\"sample Year\",\"GDP\":\"sample GDP\",\"Receipts_Total\":\"sample Receipts_Total\",\"Outlays_Total\":\"sample Outlays_Total\",\"Surplus_or_Deficit_Total\":\"sample Surplus_or_Deficit_Total\",\"Receipts_On_Budget\":\"sample Receipts_On_Budget\",\"Outlays_On_Budget\":\"sample Outlays_On_Budget\",\"Surplus_or_Deficit_On_Budget\":\"sample Surplus_or_Deficit_On_Budget\",\"Receipts_Off_Budget\":\"sample Receipts_Off_Budget\",\"Outlays_Off_Budget\":\"sample Outlays_Off_Budget\",\"Surplus_or_Deficit_Off_Budget\":\"sample Surplus_or_Deficit_Off_Budget\"}"
    },
    "table_1_3": {
      "required": [
        "Fiscal_Year"
      ],
      "properties": {
        "Fiscal_Year": {
          "type": "string",
          "example": "sample Fiscal_Year"
        },
        "Receipts_In_Current_Dollars": {
          "type": "string",
          "example": "sample Receipts_In_Current_Dollars"
        },
        "Outlays_In_Current_Dollars": {
          "type": "string",
          "example": "sample Outlays_In_Current_Dollars"
        },
        "Surplus_or_Deficit_In_Current_Dollars": {
          "type": "string",
          "example": "sample Surplus_or_Deficit_In_Current_Dollars"
        },
        "Receipts_In_Constant_Dollars": {
          "type": "string",
          "example": "sample Receipts_In_Constant_Dollars"
        },
        "Outlays_In_Constant_Dollars": {
          "type": "string",
          "example": "sample Outlays_In_Constant_Dollars"
        },
        "Surplus_or_Deficit_In_Constant_Dollars": {
          "type": "string",
          "example": "sample Surplus_or_Deficit_In_Constant_Dollars"
        },
        "Receipts_As_Percentages_of_GDP": {
          "type": "string",
          "example": "sample Receipts_As_Percentages_of_GDP"
        },
        "Outlays_As_Percentages_of_GDP": {
          "type": "string",
          "example": "sample Outlays_As_Percentages_of_GDP"
        },
        "Surplus_or_Deficit_As_Percentages_of_GDP": {
          "type": "string",
          "example": "sample Surplus_or_Deficit_As_Percentages_of_GDP"
        }
      },
      "example": "{\"Fiscal_Year\":\"sample Fiscal_Year\",\"Receipts_In_Current_Dollars\":\"sample Receipts_In_Current_Dollars\",\"Outlays_In_Current_Dollars\":\"sample Outlays_In_Current_Dollars\",\"Surplus_or_Deficit_In_Current_Dollars\":\"sample Surplus_or_Deficit_In_Current_Dollars\",\"Receipts_In_Constant_Dollars\":\"sample Receipts_In_Constant_Dollars\",\"Outlays_In_Constant_Dollars\":\"sample Outlays_In_Constant_Dollars\",\"Surplus_or_Deficit_In_Constant_Dollars\":\"sample Surplus_or_Deficit_In_Constant_Dollars\",\"Receipts_As_Percentages_of_GDP\":\"sample Receipts_As_Percentages_of_GDP\",\"Outlays_As_Percentages_of_GDP\":\"sample Outlays_As_Percentages_of_GDP\",\"Surplus_or_Deficit_As_Percentages_of_GDP\":\"sample Surplus_or_Deficit_As_Percentages_of_GDP\"}"
    },
    "table_1_4": {
      "required": [
        "Fiscal_Year"
      ],
      "properties": {
        "Fiscal_Year": {
          "type": "string",
          "example": "sample Fiscal_Year"
        },
        "Total_Receipts": {
          "type": "string",
          "example": "sample Total_Receipts"
        },
        "Federal_Funds_Receipts": {
          "type": "string",
          "example": "sample Federal_Funds_Receipts"
        },
        "Trust_Funds_Receipts": {
          "type": "string",
          "example": "sample Trust_Funds_Receipts"
        },
        "Interfund_Transactions_Receipts": {
          "type": "string",
          "example": "sample Interfund_Transactions_Receipts"
        },
        "Total_Outlays": {
          "type": "string",
          "example": "sample Total_Outlays"
        },
        "Federal_Funds_Outlays": {
          "type": "string",
          "example": "sample Federal_Funds_Outlays"
        },
        "Trust_Funds_Outlays": {
          "type": "string",
          "example": "sample Trust_Funds_Outlays"
        },
        "Interfund_Transactions_Outlays": {
          "type": "string",
          "example": "sample Interfund_Transactions_Outlays"
        },
        "Total_Surplus_or_Deficit": {
          "type": "string",
          "example": "sample Total_Surplus_or_Deficit"
        },
        "Federal_Funds_Surplus_or_Deficit": {
          "type": "string",
          "example": "sample Federal_Funds_Surplus_or_Deficit"
        },
        "Trust_Funds_Surplus_or_Deficit": {
          "type": "string",
          "example": "sample Trust_Funds_Surplus_or_Deficit"
        }
      },
      "example": "{\"Fiscal_Year\":\"sample Fiscal_Year\",\"Total_Receipts\":\"sample Total_Receipts\",\"Federal_Funds_Receipts\":\"sample Federal_Funds_Receipts\",\"Trust_Funds_Receipts\":\"sample Trust_Funds_Receipts\",\"Interfund_Transactions_Receipts\":\"sample Interfund_Transactions_Receipts\",\"Total_Outlays\":\"sample Total_Outlays\",\"Federal_Funds_Outlays\":\"sample Federal_Funds_Outlays\",\"Trust_Funds_Outlays\":\"sample Trust_Funds_Outlays\",\"Interfund_Transactions_Outlays\":\"sample Interfund_Transactions_Outlays\",\"Total_Surplus_or_Deficit\":\"sample Total_Surplus_or_Deficit\",\"Federal_Funds_Surplus_or_Deficit\":\"sample Federal_Funds_Surplus_or_Deficit\",\"Trust_Funds_Surplus_or_Deficit\":\"sample Trust_Funds_Surplus_or_Deficit\"}"
    },
    "table_2_3": {
      "required": [
        "Fiscal_Year"
      ],
      "properties": {
        "Fiscal_Year": {
          "type": "string",
          "example": "sample Fiscal_Year"
        },
        "Individual_Income_Taxes": {
          "type": "string",
          "example": "sample Individual_Income_Taxes"
        },
        "Corporation_Income_Taxes": {
          "type": "string",
          "example": "sample Corporation_Income_Taxes"
        },
        "Total_Social_Insurance_and_Retirement_Receipts": {
          "type": "string",
          "example": "sample Total_Social_Insurance_and_Retirement_Receipts"
        },
        "On_Budget_Social_Insurance_and_Retirement_Receipts": {
          "type": "string",
          "example": "sample On_Budget_Social_Insurance_and_Retirement_Receipts"
        },
        "Off_Budget_Social_Insurance_and_Retirement_Receipts": {
          "type": "string",
          "example": "sample Off_Budget_Social_Insurance_and_Retirement_Receipts"
        },
        "Excise_Taxes": {
          "type": "string",
          "example": "sample Excise_Taxes"
        },
        "Other": {
          "type": "string",
          "example": "sample Other"
        },
        "Total_Total_Receipts": {
          "type": "string",
          "example": "sample Total_Total_Receipts"
        },
        "On_Budget_Total_Receipts": {
          "type": "string",
          "example": "sample On_Budget_Total_Receipts"
        },
        "Off_Budget_Total_Receipts": {
          "type": "string",
          "example": "sample Off_Budget_Total_Receipts"
        }
      },
      "example": "{\"Fiscal_Year\":\"sample Fiscal_Year\",\"Individual_Income_Taxes\":\"sample Individual_Income_Taxes\",\"Corporation_Income_Taxes\":\"sample Corporation_Income_Taxes\",\"Total_Social_Insurance_and_Retirement_Receipts\":\"sample Total_Social_Insurance_and_Retirement_Receipts\",\"On_Budget_Social_Insurance_and_Retirement_Receipts\":\"sample On_Budget_Social_Insurance_and_Retirement_Receipts\",\"Off_Budget_Social_Insurance_and_Retirement_Receipts\":\"sample Off_Budget_Social_Insurance_and_Retirement_Receipts\",\"Excise_Taxes\":\"sample Excise_Taxes\",\"Other\":\"sample Other\",\"Total_Total_Receipts\":\"sample Total_Total_Receipts\",\"On_Budget_Total_Receipts\":\"sample On_Budget_Total_Receipts\",\"Off_Budget_Total_Receipts\":\"sample Off_Budget_Total_Receipts\"}"
    },
    "table_2_2": {
      "required": [
        "Fiscal_Year"
      ],
      "properties": {
        "Fiscal_Year": {
          "type": "string",
          "example": "sample Fiscal_Year"
        },
        "Individual_Income_Taxes": {
          "type": "string",
          "example": "sample Individual_Income_Taxes"
        },
        "Corporation_Income_Taxes": {
          "type": "string",
          "example": "sample Corporation_Income_Taxes"
        },
        "Total_Social_Insurance_and_Retirement_Receipts": {
          "type": "string",
          "example": "sample Total_Social_Insurance_and_Retirement_Receipts"
        },
        "On_Budget_Social_Insurance_and_Retirement_Receipts": {
          "type": "string",
          "example": "sample On_Budget_Social_Insurance_and_Retirement_Receipts"
        },
        "Off_Budget_Social_Insurance_and_Retirement_Receipts": {
          "type": "string",
          "example": "sample Off_Budget_Social_Insurance_and_Retirement_Receipts"
        },
        "Excise_Taxes": {
          "type": "string",
          "example": "sample Excise_Taxes"
        },
        "Other": {
          "type": "string",
          "example": "sample Other"
        },
        "Total_Receipts": {
          "type": "string",
          "example": "sample Total_Receipts"
        }
      },
      "example": "{\"Fiscal_Year\":\"sample Fiscal_Year\",\"Individual_Income_Taxes\":\"sample Individual_Income_Taxes\",\"Corporation_Income_Taxes\":\"sample Corporation_Income_Taxes\",\"Total_Social_Insurance_and_Retirement_Receipts\":\"sample Total_Social_Insurance_and_Retirement_Receipts\",\"On_Budget_Social_Insurance_and_Retirement_Receipts\":\"sample On_Budget_Social_Insurance_and_Retirement_Receipts\",\"Off_Budget_Social_Insurance_and_Retirement_Receipts\":\"sample Off_Budget_Social_Insurance_and_Retirement_Receipts\",\"Excise_Taxes\":\"sample Excise_Taxes\",\"Other\":\"sample Other\",\"Total_Receipts\":\"sample Total_Receipts\"}"
    },
    "table_2_5": {
      "required": [
        "Fiscal_Year"
      ],
      "properties": {
        "Fiscal_Year": {
          "type": "string",
          "example": "sample Fiscal_Year"
        },
        "Estate_and_Gift_Taxes": {
          "type": "string",
          "example": "sample Estate_and_Gift_Taxes"
        },
        "Customs_Duties_and_Fees": {
          "type": "string",
          "example": "sample Customs_Duties_and_Fees"
        },
        "Total_Miscellaneous_Receipts": {
          "type": "string",
          "example": "sample Total_Miscellaneous_Receipts"
        },
        "Federal_Reserve_Deposits_1_Miscellaneous_Receipts": {
          "type": "string",
          "example": "sample Federal_Reserve_Deposits_1_Miscellaneous_Receipts"
        },
        "All_Other_Miscellaneous_Receipts": {
          "type": "string",
          "example": "sample All_Other_Miscellaneous_Receipts"
        },
        "Legislative_Proposals_2": {
          "type": "string",
          "example": "sample Legislative_Proposals_2"
        },
        "Customs_Duties_and_Fees__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts": {
          "type": "string",
          "example": "sample Customs_Duties_and_Fees__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts"
        },
        "All_Other__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts": {
          "type": "string",
          "example": "sample All_Other__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts"
        }
      },
      "example": "{\"Fiscal_Year\":\"sample Fiscal_Year\",\"Estate_and_Gift_Taxes\":\"sample Estate_and_Gift_Taxes\",\"Customs_Duties_and_Fees\":\"sample Customs_Duties_and_Fees\",\"Total_Miscellaneous_Receipts\":\"sample Total_Miscellaneous_Receipts\",\"Federal_Reserve_Deposits_1_Miscellaneous_Receipts\":\"sample Federal_Reserve_Deposits_1_Miscellaneous_Receipts\",\"All_Other_Miscellaneous_Receipts\":\"sample All_Other_Miscellaneous_Receipts\",\"Legislative_Proposals_2\":\"sample Legislative_Proposals_2\",\"Customs_Duties_and_Fees__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts\":\"sample Customs_Duties_and_Fees__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts\",\"All_Other__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts\":\"sample All_Other__Memorandum_Trust_Fund_Amounts_Included_in_Other_Receipts\"}"
    },
    "table_2_4": {
      "required": [
        "TYPE"
      ],
      "properties": {
        "TYPE": {
          "type": "string",
          "example": "sample TYPE"
        },
        "Area": {
          "type": "string",
          "example": "sample Area"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"TYPE\":\"sample TYPE\",\"Area\":\"sample Area\",\"TQ\":\"sample TQ\"}"
    },
    "table_5_2": {
      "required": [
        "Department_or_other_unit"
      ],
      "properties": {
        "Department_or_other_unit": {
          "type": "string",
          "example": "sample Department_or_other_unit"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Department_or_other_unit\":\"sample Department_or_other_unit\",\"TQ\":\"sample TQ\"}"
    },
    "table_2_1": {
      "required": [
        "Fiscal_Year"
      ],
      "properties": {
        "Fiscal_Year": {
          "type": "string",
          "example": "sample Fiscal_Year"
        },
        "Individual_Income_Taxes": {
          "type": "string",
          "example": "sample Individual_Income_Taxes"
        },
        "Corporate_Income_Taxes_1": {
          "type": "string",
          "example": "sample Corporate_Income_Taxes_1"
        },
        "Total_Social_Insurance_and_Retirement_Receipts_2": {
          "type": "string",
          "example": "sample Total_Social_Insurance_and_Retirement_Receipts_2"
        },
        "On_Budget_Social_Insurance_and_Retirement_Receipts_2": {
          "type": "string",
          "example": "sample On_Budget_Social_Insurance_and_Retirement_Receipts_2"
        },
        "Off_Budget_Social_Insurance_and_Retirement_Receipts_2": {
          "type": "string",
          "example": "sample Off_Budget_Social_Insurance_and_Retirement_Receipts_2"
        },
        "Excise_Taxes_2_Total_Receipts": {
          "type": "string",
          "example": "sample Excise_Taxes_2_Total_Receipts"
        },
        "Other_3_Total_Receipts": {
          "type": "string",
          "example": "sample Other_3_Total_Receipts"
        },
        "Total_Total_Receipts": {
          "type": "string",
          "example": "sample Total_Total_Receipts"
        },
        "On_Budget_Total_Receipts": {
          "type": "string",
          "example": "sample On_Budget_Total_Receipts"
        },
        "Off_Budget_Total_Receipts": {
          "type": "string",
          "example": "sample Off_Budget_Total_Receipts"
        }
      },
      "example": "{\"Fiscal_Year\":\"sample Fiscal_Year\",\"Individual_Income_Taxes\":\"sample Individual_Income_Taxes\",\"Corporate_Income_Taxes_1\":\"sample Corporate_Income_Taxes_1\",\"Total_Social_Insurance_and_Retirement_Receipts_2\":\"sample Total_Social_Insurance_and_Retirement_Receipts_2\",\"On_Budget_Social_Insurance_and_Retirement_Receipts_2\":\"sample On_Budget_Social_Insurance_and_Retirement_Receipts_2\",\"Off_Budget_Social_Insurance_and_Retirement_Receipts_2\":\"sample Off_Budget_Social_Insurance_and_Retirement_Receipts_2\",\"Excise_Taxes_2_Total_Receipts\":\"sample Excise_Taxes_2_Total_Receipts\",\"Other_3_Total_Receipts\":\"sample Other_3_Total_Receipts\",\"Total_Total_Receipts\":\"sample Total_Total_Receipts\",\"On_Budget_Total_Receipts\":\"sample On_Budget_Total_Receipts\",\"Off_Budget_Total_Receipts\":\"sample Off_Budget_Total_Receipts\"}"
    },
    "table_5_1": {
      "required": [
        "Function"
      ],
      "properties": {
        "Function": {
          "type": "string",
          "example": "sample Function"
        },
        "Subfunction": {
          "type": "string",
          "example": "sample Subfunction"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Function\":\"sample Function\",\"Subfunction\":\"sample Subfunction\",\"TQ\":\"sample TQ\"}"
    },
    "table_5_4": {
      "required": [
        "Department_or_other_unit"
      ],
      "properties": {
        "Department_or_other_unit": {
          "type": "string",
          "example": "sample Department_or_other_unit"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Department_or_other_unit\":\"sample Department_or_other_unit\",\"TQ\":\"sample TQ\"}"
    },
    "table_4_1": {
      "required": [
        "Department_or_other_unit"
      ],
      "properties": {
        "Department_or_other_unit": {
          "type": "string",
          "example": "sample Department_or_other_unit"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Department_or_other_unit\":\"sample Department_or_other_unit\",\"TQ\":\"sample TQ\"}"
    },
    "table_5_3": {
      "required": [
        "Department_or_other_unit"
      ],
      "properties": {
        "Department_or_other_unit": {
          "type": "string",
          "example": "sample Department_or_other_unit"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Department_or_other_unit\":\"sample Department_or_other_unit\",\"TQ\":\"sample TQ\"}"
    },
    "table_5_6": {
      "required": [
        "Category_and_Program"
      ],
      "properties": {
        "Category_and_Program": {
          "type": "string",
          "example": "sample Category_and_Program"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Category_and_Program\":\"sample Category_and_Program\",\"TQ\":\"sample TQ\"}"
    },
    "table_5_5": {
      "required": [
        "Department_or_other_unit"
      ],
      "properties": {
        "Department_or_other_unit": {
          "type": "string",
          "example": "sample Department_or_other_unit"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Department_or_other_unit\":\"sample Department_or_other_unit\",\"TQ\":\"sample TQ\"}"
    },
    "table_4_2": {
      "required": [
        "Department_or_other_unit"
      ],
      "properties": {
        "Department_or_other_unit": {
          "type": "string",
          "example": "sample Department_or_other_unit"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Department_or_other_unit\":\"sample Department_or_other_unit\",\"TQ\":\"sample TQ\"}"
    },
    "table_3_2": {
      "required": [
        "Function"
      ],
      "properties": {
        "Function": {
          "type": "string",
          "example": "sample Function"
        },
        "Subfunction": {
          "type": "string",
          "example": "sample Subfunction"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Function\":\"sample Function\",\"Subfunction\":\"sample Subfunction\",\"TQ\":\"sample TQ\"}"
    },
    "table_3_1": {
      "required": [
        "Superfunction"
      ],
      "properties": {
        "Superfunction": {
          "type": "string",
          "example": "sample Superfunction"
        },
        "Function": {
          "type": "string",
          "example": "sample Function"
        },
        "TQ": {
          "type": "string",
          "example": "sample TQ"
        }
      },
      "example": "{\"Superfunction\":\"sample Superfunction\",\"Function\":\"sample Function\",\"TQ\":\"sample TQ\"}"
    }
  }
}
