{"swagger":"2.0","info":{"description":"","version":"1.1.0","title":"Federal Budget 13","contact":{"name":"Kin Lane","email":"kinlane@gmail.com"}},"host":"federalbudget13.apispark.net","basePath":"/v1","tags":[{"name":"Default","description":"Default section"},{"name":"Federal Budget 13","description":"Imported from Federal Budget 13"}],"schemes":["https"],"paths":{"/13_1/{table_13_1id}":{"get":{"tags":["Federal Budget 13"],"summary":"Loads a table_13_1","description":"Loads a table_13_1","operationId":"gettable_13_1","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_13_1id","in":"path","description":"Identifier of the table_13_1","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_13_1"}},"400":{"description":"Error 400"}}},"put":{"tags":["Federal Budget 13"],"summary":"Stores a table_13_1","description":"Stores a table_13_1","operationId":"puttable_13_1","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_13_1id","in":"path","description":"Identifier of the table_13_1","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_13_1"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_13_1"}}}},"delete":{"tags":["Federal Budget 13"],"summary":"Deletes a table_13_1","description":"Deletes a table_13_1","operationId":"deletetable_13_1","consumes":[],"produces":[],"parameters":[{"name":"table_13_1id","in":"path","description":"Identifier of the table_13_1","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/3_1/":{"get":{"tags":["Federal Budget 13"],"summary":"Loads a list of table_13_1","description":"Loads a list of table_13_1","operationId":"gettable_13_1List","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"$sort","in":"query","description":"Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC","required":false,"type":"string"},{"name":"Area","in":"query","description":"Allows to filter the collections of result by the value of field Area","required":false,"type":"string"},{"name":"$size","in":"query","description":"Size of the page to retrieve. Integer value","required":false,"type":"string"},{"name":"TQ","in":"query","description":"Allows to filter the collections of result by the value of field TQ","required":false,"type":"string"},{"name":"Fund","in":"query","description":"Allows to filter the collections of result by the value of field Fund","required":false,"type":"string"},{"name":"$page","in":"query","description":"Number of the page to retrieve. Integer value.","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/table_13_1"}}},"400":{"description":"Error 400"}}},"post":{"tags":["Federal Budget 13"],"summary":"Adds a table_13_1","description":"Adds a table_13_1","operationId":"posttable_13_1List","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_13_1"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_13_1"}}}}}},"securityDefinitions":{"HTTP_BASIC":{"type":"basic"}},"definitions":{"table_13_1":{"required":["Fund"],"properties":{"Fund":{"type":"string","example":"sample Fund"},"Area":{"type":"string","example":"sample Area"},"TQ":{"type":"string","example":"sample TQ"}},"example":"{\"Fund\":\"sample Fund\",\"Area\":\"sample Area\",\"TQ\":\"sample TQ\"}"}}}