{"swagger":"2.0","info":{"description":"","version":"1.1.0","title":"Federal Budget 5","contact":{"name":"Kin Lane","email":"kinlane@gmail.com"}},"host":"federalbudget5.apispark.net","basePath":"/v1","tags":[{"name":"Default","description":"Default section"},{"name":"Federal Budget 5","description":"Imported from Federal Budget 5"}],"schemes":["https"],"paths":{"/5_1/":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a list of table_5_1","description":"Loads a list of table_5_1","operationId":"gettable_5_1List","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"Function","in":"query","description":"Allows to filter the collections of result by the value of field Function","required":false,"type":"string"},{"name":"$page","in":"query","description":"Number of the page to retrieve. Integer value.","required":false,"type":"string"},{"name":"Subfunction","in":"query","description":"Allows to filter the collections of result by the value of field Subfunction","required":false,"type":"string"},{"name":"$size","in":"query","description":"Size of the page to retrieve. Integer value","required":false,"type":"string"},{"name":"$sort","in":"query","description":"Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC","required":false,"type":"string"},{"name":"TQ","in":"query","description":"Allows to filter the collections of result by the value of field TQ","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/table_5_1"}}},"400":{"description":"Error 400"}}},"post":{"tags":["Federal Budget 5"],"summary":"Adds a table_5_1","description":"Adds a table_5_1","operationId":"posttable_5_1List","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_1"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_1"}}}}},"/5_1/{table_5_1id}":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a table_5_1","description":"Loads a table_5_1","operationId":"gettable_5_1","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_1id","in":"path","description":"Identifier of the table_5_1","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_1"}},"400":{"description":"Error 400"}}},"put":{"tags":["Federal Budget 5"],"summary":"Stores a table_5_1","description":"Stores a table_5_1","operationId":"puttable_5_1","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_1id","in":"path","description":"Identifier of the table_5_1","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_1"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_1"}}}},"delete":{"tags":["Federal Budget 5"],"summary":"Deletes a table_5_1","description":"Deletes a table_5_1","operationId":"deletetable_5_1","consumes":[],"produces":[],"parameters":[{"name":"table_5_1id","in":"path","description":"Identifier of the table_5_1","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/5_2/":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a list of table_5_2","description":"Loads a list of table_5_2","operationId":"gettable_5_2List","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"Department_or_other_unit","in":"query","description":"Allows to filter the collections of result by the value of field Department_or_other_unit","required":false,"type":"string"},{"name":"$page","in":"query","description":"Number of the page to retrieve. Integer value.","required":false,"type":"string"},{"name":"TQ","in":"query","description":"Allows to filter the collections of result by the value of field TQ","required":false,"type":"string"},{"name":"$size","in":"query","description":"Size of the page to retrieve. Integer value","required":false,"type":"string"},{"name":"$sort","in":"query","description":"Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/table_5_2"}}},"400":{"description":"Error 400"}}},"post":{"tags":["Federal Budget 5"],"summary":"Adds a table_5_2","description":"Adds a table_5_2","operationId":"posttable_5_2List","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_2"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_2"}}}}},"/5_2/{table_5_2id}":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a table_5_2","description":"Loads a table_5_2","operationId":"gettable_5_2","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_2id","in":"path","description":"Identifier of the table_5_2","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_2"}},"400":{"description":"Error 400"}}},"put":{"tags":["Federal Budget 5"],"summary":"Stores a table_5_2","description":"Stores a table_5_2","operationId":"puttable_5_2","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_2id","in":"path","description":"Identifier of the table_5_2","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_2"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_2"}}}},"delete":{"tags":["Federal Budget 5"],"summary":"Deletes a table_5_2","description":"Deletes a table_5_2","operationId":"deletetable_5_2","consumes":[],"produces":[],"parameters":[{"name":"table_5_2id","in":"path","description":"Identifier of the table_5_2","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/5_3/":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a list of table_5_3","description":"Loads a list of table_5_3","operationId":"gettable_5_3List","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"$page","in":"query","description":"Number of the page to retrieve. Integer value.","required":false,"type":"string"},{"name":"$sort","in":"query","description":"Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC","required":false,"type":"string"},{"name":"Department_or_other_unit","in":"query","description":"Allows to filter the collections of result by the value of field Department_or_other_unit","required":false,"type":"string"},{"name":"$size","in":"query","description":"Size of the page to retrieve. Integer value","required":false,"type":"string"},{"name":"TQ","in":"query","description":"Allows to filter the collections of result by the value of field TQ","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/table_5_3"}}},"400":{"description":"Error 400"}}},"post":{"tags":["Federal Budget 5"],"summary":"Adds a table_5_3","description":"Adds a table_5_3","operationId":"posttable_5_3List","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_3"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_3"}}}}},"/5_3/{table_5_3id}":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a table_5_3","description":"Loads a table_5_3","operationId":"gettable_5_3","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_3id","in":"path","description":"Identifier of the table_5_3","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_3"}},"400":{"description":"Error 400"}}},"put":{"tags":["Federal Budget 5"],"summary":"Stores a table_5_3","description":"Stores a table_5_3","operationId":"puttable_5_3","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_3id","in":"path","description":"Identifier of the table_5_3","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_3"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_3"}}}},"delete":{"tags":["Federal Budget 5"],"summary":"Deletes a table_5_3","description":"Deletes a table_5_3","operationId":"deletetable_5_3","consumes":[],"produces":[],"parameters":[{"name":"table_5_3id","in":"path","description":"Identifier of the table_5_3","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/5_4/":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a list of table_5_4","description":"Loads a list of table_5_4","operationId":"gettable_5_4List","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"$page","in":"query","description":"Number of the page to retrieve. Integer value.","required":false,"type":"string"},{"name":"$sort","in":"query","description":"Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC","required":false,"type":"string"},{"name":"$size","in":"query","description":"Size of the page to retrieve. Integer value","required":false,"type":"string"},{"name":"TQ","in":"query","description":"Allows to filter the collections of result by the value of field TQ","required":false,"type":"string"},{"name":"Department_or_other_unit","in":"query","description":"Allows to filter the collections of result by the value of field Department_or_other_unit","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/table_5_4"}}},"400":{"description":"Error 400"}}},"post":{"tags":["Federal Budget 5"],"summary":"Adds a table_5_4","description":"Adds a table_5_4","operationId":"posttable_5_4List","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_4"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_4"}}}}},"/5_4/{table_5_4id}":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a table_5_4","description":"Loads a table_5_4","operationId":"gettable_5_4","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_4id","in":"path","description":"Identifier of the table_5_4","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_4"}},"400":{"description":"Error 400"}}},"put":{"tags":["Federal Budget 5"],"summary":"Stores a table_5_4","description":"Stores a table_5_4","operationId":"puttable_5_4","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_4id","in":"path","description":"Identifier of the table_5_4","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_4"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_4"}}}},"delete":{"tags":["Federal Budget 5"],"summary":"Deletes a table_5_4","description":"Deletes a table_5_4","operationId":"deletetable_5_4","consumes":[],"produces":[],"parameters":[{"name":"table_5_4id","in":"path","description":"Identifier of the table_5_4","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/5_5/":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a list of table_5_5","description":"Loads a list of table_5_5","operationId":"gettable_5_5List","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"TQ","in":"query","description":"Allows to filter the collections of result by the value of field TQ","required":false,"type":"string"},{"name":"$sort","in":"query","description":"Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC","required":false,"type":"string"},{"name":"Department_or_other_unit","in":"query","description":"Allows to filter the collections of result by the value of field Department_or_other_unit","required":false,"type":"string"},{"name":"$page","in":"query","description":"Number of the page to retrieve. Integer value.","required":false,"type":"string"},{"name":"$size","in":"query","description":"Size of the page to retrieve. Integer value","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/table_5_5"}}},"400":{"description":"Error 400"}}},"post":{"tags":["Federal Budget 5"],"summary":"Adds a table_5_5","description":"Adds a table_5_5","operationId":"posttable_5_5List","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_5"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_5"}}}}},"/5_5/{table_5_5id}":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a table_5_5","description":"Loads a table_5_5","operationId":"gettable_5_5","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_5id","in":"path","description":"Identifier of the table_5_5","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_5"}},"400":{"description":"Error 400"}}},"put":{"tags":["Federal Budget 5"],"summary":"Stores a table_5_5","description":"Stores a table_5_5","operationId":"puttable_5_5","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_5id","in":"path","description":"Identifier of the table_5_5","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_5"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_5"}}}},"delete":{"tags":["Federal Budget 5"],"summary":"Deletes a table_5_5","description":"Deletes a table_5_5","operationId":"deletetable_5_5","consumes":[],"produces":[],"parameters":[{"name":"table_5_5id","in":"path","description":"Identifier of the table_5_5","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/5_6/":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a list of table_5_6","description":"Loads a list of table_5_6","operationId":"gettable_5_6List","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"$size","in":"query","description":"Size of the page to retrieve. Integer value","required":false,"type":"string"},{"name":"Category_and_Program","in":"query","description":"Allows to filter the collections of result by the value of field Category_and_Program","required":false,"type":"string"},{"name":"$sort","in":"query","description":"Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC","required":false,"type":"string"},{"name":"$page","in":"query","description":"Number of the page to retrieve. Integer value.","required":false,"type":"string"},{"name":"TQ","in":"query","description":"Allows to filter the collections of result by the value of field TQ","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/table_5_6"}}},"400":{"description":"Error 400"}}},"post":{"tags":["Federal Budget 5"],"summary":"Adds a table_5_6","description":"Adds a table_5_6","operationId":"posttable_5_6List","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_6"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_6"}}}}},"/5_6/{table_5_6id}":{"get":{"tags":["Federal Budget 5"],"summary":"Loads a table_5_6","description":"Loads a table_5_6","operationId":"gettable_5_6","consumes":[],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_6id","in":"path","description":"Identifier of the table_5_6","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_6"}},"400":{"description":"Error 400"}}},"put":{"tags":["Federal Budget 5"],"summary":"Stores a table_5_6","description":"Stores a table_5_6","operationId":"puttable_5_6","consumes":["application/json","application/x-yaml","application/xml","text/xml"],"produces":["application/json","application/x-yaml","application/xml","text/xml"],"parameters":[{"name":"table_5_6id","in":"path","description":"Identifier of the table_5_6","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/table_5_6"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/table_5_6"}}}},"delete":{"tags":["Federal Budget 5"],"summary":"Deletes a table_5_6","description":"Deletes a table_5_6","operationId":"deletetable_5_6","consumes":[],"produces":[],"parameters":[{"name":"table_5_6id","in":"path","description":"Identifier of the table_5_6","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}}},"securityDefinitions":{"HTTP_BASIC":{"type":"basic"}},"definitions":{"table_5_2":{"required":["Department_or_other_unit"],"properties":{"Department_or_other_unit":{"type":"string","example":"sample Department_or_other_unit"},"TQ":{"type":"string","example":"sample TQ"}},"example":"{\"Department_or_other_unit\":\"sample Department_or_other_unit\",\"TQ\":\"sample TQ\"}"},"table_5_1":{"required":["Function"],"properties":{"Function":{"type":"string","example":"sample Function"},"Subfunction":{"type":"string","example":"sample Subfunction"},"TQ":{"type":"string","example":"sample TQ"}},"example":"{\"Function\":\"sample Function\",\"Subfunction\":\"sample Subfunction\",\"TQ\":\"sample TQ\"}"},"table_5_4":{"required":["Department_or_other_unit"],"properties":{"Department_or_other_unit":{"type":"string","example":"sample Department_or_other_unit"},"TQ":{"type":"string","example":"sample TQ"}},"example":"{\"Department_or_other_unit\":\"sample Department_or_other_unit\",\"TQ\":\"sample TQ\"}"},"table_5_3":{"required":["Department_or_other_unit"],"properties":{"Department_or_other_unit":{"type":"string","example":"sample Department_or_other_unit"},"TQ":{"type":"string","example":"sample TQ"}},"example":"{\"Department_or_other_unit\":\"sample Department_or_other_unit\",\"TQ\":\"sample TQ\"}"},"table_5_6":{"required":["Category_and_Program"],"properties":{"Category_and_Program":{"type":"string","example":"sample Category_and_Program"},"TQ":{"type":"string","example":"sample TQ"}},"example":"{\"Category_and_Program\":\"sample Category_and_Program\",\"TQ\":\"sample TQ\"}"},"table_5_5":{"required":["Department_or_other_unit"],"properties":{"Department_or_other_unit":{"type":"string","example":"sample Department_or_other_unit"},"TQ":{"type":"string","example":"sample TQ"}},"example":"{\"Department_or_other_unit\":\"sample Department_or_other_unit\",\"TQ\":\"sample TQ\"}"}}}